body{
    background-color: #1E567A;
}
.container {
    background-color: #0a2249;
    width: 1000px;
    height: 200px;
    border-radius: 40px;
    margin: 10px;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}