body {
    background-color: #124559;
    display: flex;
    flex-direction: row;
}
.menu {
    background-color: #0077b6;
    width: 400px;
    height: 200px;
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
    border-radius: 20px;
}
h1{
    font-family: 'easy tormenta', sans-serif;
    font-weight: 200;
}
.principal {
    background-color: #3a86ff;
    width: 400px;
    height: 200px;
    margin-top: 60px;
    border-radius: 20px;
    img{
        width: 350px;
        height: 170px;
        border-radius: 10px;
        margin-top: 15px;
    }
}
.info {
    background-color: #14213d;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
}
.post {
    background-color: #598392;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
}
.tabela {
    margin-left: 65px;
    margin-right: 50px;
    margin-top: 30px;
    width: 550px;
    height: 90px;
}
.ajuste {
    background-color: #bbd0ff;
    width: 550px;
    height: 200px;
    margin-top: -200px;
    border-radius: 20px;
}
h2{
    font-family: 'easy tormenta', sans-serif;
    font-weight: 200;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
.container {
    background-color: #1C5380;
    margin-left: -5px;
    margin-right: 50px;
    margin-top: 20px;
    width: 550px;
    height: 220px;
    border-radius: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}






