body {
    display: flex;
}
h1 {
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    height: 400PX;
    width: 400px;
    border-radius: 100px;
}
.info{
    margin: 20px;
    img {
        justify-content: center;
        height: 70px;
        width: 200px;
        margin: 10px;
    }
}
p{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}