body {
    display: flex;
    justify-content: flex-end;
    background-color: #4a4e69;
}
h1 {
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    height: 550PX;
    width: 400px;
    border-radius: 20px;
    justify-content: flex-end;
}
.info{
    margin: 20px;
    p {
       font-size: 32px;
    }
}
p{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-direction: column;
}
h2 {
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}